<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Resume</title>
</head>

<body>
    <div class="container">
        <div class="container_resume">
            <div class="container_info__person">
                <div class="image_person">
                    <img class="photo" src="./image.jpg" />
                </div>
                <div class="info_person">
                    <div class="info_person_block">
                        <div class="fullName">Laura Saras</div>
                        <div class="position">PRODUCT DESIGNER</div>
                        <div class="number_phone"><span class="icon-phone"></span>098 6543 231</div>
                        <div class="email"><span class="icon-mail"></span>email@gmail.com</div>
                        <div class="geo_point"><span class="icon-geo-point"></span>VIETNAM</div>
                    </div>
                </div>
            </div>
            <div class="container_section">
                <div class="section_group">
                    <div class="section_title icon-arrow-down">
                        <button class="button_title">WORK EXPERIENCE</button>
                    </div>
                    <div class="section_body">
                        <div class="item_section__body">
                            <div class="title">Airbnb</div>
                            <div class="SubTitle">User Experience Design</div>
                            <div class="timeWork">Sep 2017 - Apr 2019</div>
                            <ul class="listItems_section">
                                <li class="item_section"><span>Partners closely with UX team leads executed research, redesign create workflows and wireframes for new featureswebsite,mobile/app in Nguyen Kim.</span></li>
                                <li class="item_section"><span>Develop Mobile first in Responsive sites bring Best experience for users with support team.</span></li>
                            </ul>
                        </div>
                        <div class="item_section__body">
                            <div class="title">Youtube</div>
                            <div class="SubTitle">Junior User Experience Design</div>
                            <div class="timeWork">May 2015 - Sep 2017</div>
                            <ul>
                                <li class="item_section"><span>Upgrade Interaction Design in Web,Mobile/App with support of UI/UX team leads and team production</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section_group">
                    <div class="section_title icon-arrow-down">
                        <button class="button_title">EDUCATION</button>
                    </div>
                    <div class="section_body">
                        <div class="item_section__body">
                            <div class="title">Rouches Institute of Technology</div>
                            <div class="SubTitle">Multimedia Design</div>
                            <div class="timeWork">2012 - 2014</div>
                        </div>
                    </div>
                </div>
                <div class="section_group">
                    <div class="section_title icon-arrow-down">
                        <button class="button_title">SKILLS</button>
                    </div>
                    <div class="section_body">Нет информации</div>
                </div>
                <div class="section_group">
                    <div class="section_title icon-arrow-down">
                        <button class="button_title">TOOLS</button>
                    </div>
                    <div class="section_body">Нет информации</div>
                </div>
            </div>
            <div class="send">
                <button class="button_send">send</button>
            </div>
        </div>
    </div>
    </div>
    <script src="./script.js"></script>
</body>

</html>