.container{
    min-height: 450px;
    margin: 0;
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
    color: #333;
    font-family: 'Nunito', serif;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.container__content {
    width: 520px;
    margin: 3% auto;
}

.container__button-add {
    width: 150px;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    float: right;
    color: #fff;
    background: #FFA07A;
    font-family: Monospace;
    font-style: normal;
    cursor: pointer;
}

.notification {
    position: fixed;
    z-index: 1000;
    padding: 15px;
    width: 255px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.body_message{
    font-size: 15px; 
    font-weight: 100;
}

.headerSection {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
color: #707981;
margin-bottom: 15px;
}