
.block_edit{
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
    color: #333;
    font-family: 'Nunito', serif;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.block__modificate_edit{
    max-width: 560px;
    margin: 2% auto;  
    width: 100%;
    position: relative;
    border-radius: 10px;
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 20px 50px 50px;
}

.modificate_edit__item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #707981;
}

.title_modificate{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #707981;
}

.modificate_edit__fullName,.modificate_edit__position,
.modificate_edit__email,.modificate_edit__sex,.modificate_edit__age,
.modificate_edit__geoPoint,.modificate_edit__phone {
    width: 92%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #707981;
}

.button_addSection{
    position: relative;
    float: right;
    color:white;
    cursor: pointer;
    background-color: white;
    border:none;
    right: 5px;
}

.sections {
    max-width: 545px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    padding: 20px 0 20px 20px;
}

.loadedImageUsers{
      width: 120px;
      height: 120px;
      border-radius:100%;
      border:2px solid red;
     margin-top:35px
      
  }

  label[for="image"]{
    position: absolute;
    margin: 3px;
  }

  .chooseFile{
      position: relative;
      left: -120px;
      margin-bottom: 15px;
      top: 25px;
  }

  .button_modify{
    width: 150px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    left: 45%;
    right:50%;
    text-align: center;
    color: #fff;
    background: #FFA07A;
    font-family: Monospace;
    font-style: normal;
    cursor: pointer;
    margin-bottom:20px;
  }

  .deleteImage{
      position: absolute;
    cursor: pointer;
   width: 20px;
    margin-top: 35px;
}

 