.sectionItem_edit__title,
.sectionItem_edit__subTitle,
.sectionItem_edit__from,
.sectionItem_edit__to{
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #707981;
    width: 88%;
}

.deleteItemFromSectionItems{
    margin-left: 6.9%;
    float: right;
    cursor: pointer;
    margin-top:4px;
    position: absolute;
}

.outputSkills{
    width:400px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #f2606f;
    margin-bottom:15px;
}

.otputKeySkill{
    max-width: 400px;
    display: flex;
    margin: 5px;
    word-break: break-word;
}

.otputKeySkill:last-child{
    margin-bottom:15px;
}

.keySkill{
    padding: 10px;
    padding-right: 5px;
    padding-left: 30px;
    background-color: #87CEEB;
    color: #1E90FF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    word-wrap: break-word;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.deleteSkill{
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 16px;
    padding: 10px;
    color: #1E90FF;
    background-color: #b0d9ff;
    padding-right: 9px;
    cursor: pointer;
}

.deleteSkill div{
    display: inline-block;
    vertical-align: middle; 
}

.deleteSkill:before { 
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }