.modificate_edit_section__item
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #707981;
}

.modificate_edit_section__item label {
    padding-right: 20px;
}

.section_edit__title{
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #707981;
    width: 60%;
}

.button__modificate button {
    display: inline;
    background-color:white;
    border:none;
    cursor: pointer;
}

.button__modificate{
    float: right;
}

.button_addItemInSection, .button_deleteItemSection {
    margin: 0 6px 0 6px;
   }

   .ItemsSections{
    width: 400px;
    padding: 20px 20px 20px 20px;
    margin:0 auto;
}

.ItemsSections section div label  {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
color: #707981;
}
