

.sectionItem_edit_textarea__StringArray{
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #707981;
    width: 88%;
}

.sectionItem_edit__stringArray textarea{
    width:88%;
    height: 100px;
    border-radius: 10px;
    border: none;
}

.sectionItem__addSkills{
    padding:10px;
    background-color: #43b05c;
    border:none;
    border-radius: 10px;
    color:white;
    margin-bottom: 20px;
   cursor: pointer;
}