.item_section__body {
    margin-bottom: 32px;
    margin-right: 16px;
}

.title {
    height: 22px;
    margin-top: 16px;
    font-family: Helvetica Neue;
    font-size: 18px;
    line-height: 120%;
    color: #3F3F3F;
}

.SubTitle {
    height: 24px;
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #4269A3;
    margin-top: 4px;
}

.timeWork {
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 20px;
    color: #A6A6A6;
}

.listItems_section {
    margin-top: 6px;
}

.item_section {
    margin-left: 16px;
    color: rgba(196, 196, 196, 0.4);
    font-size: 16px;
    margin-bottom: 8px;
}

.item_section span {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3F3F3F;
}