.section_title {
    width: 100%;
    background: rgba(196, 196, 196, 0.4);
    text-align: left;
    transition: 0.5s;
    height: 32px;
    cursor: pointer;
}

.icon-arrow-down:before {
    position: absolute;
    content: "\e900";
    font-size: 24px;
    width: 24px;
    padding: 4px;
    left: 93%;
}

.section_body {
    display: none;
    background: #fff;
}

.icon-arrow-up+.section_body {
    display: block;
}

.icon-arrow-up:before {
    content: "\e901";
}

.section_group {
    margin-bottom: 24px;
}

.button_title {
    background: rgba(196, 196, 196, 0.0);
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #3F3F3F;
    padding: 4px 0px 4px 8px;
    cursor: pointer;
}

