* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'resume-icons';
    src: url('../../../fonts/resume-icons.eot?up73aj');
    src: url('../../../fonts/resume-icons.eot?up73aj#iefix') format('embedded-opentype'), url('../../../fonts/resume-icons.ttf?up73aj') format('truetype'), url('../../../fonts/resume-icons.woff?up73aj') format('woff'), url('../../../fonts/resume-icons.svg?up73aj#resume-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'resume-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-geo-point:before {
    content: "\e902";
}

.icon-mail:before {
    content: "\e903";
}

.icon-phone:before {
    content: "\e904";
}

.container_user {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    overflow: auto;
}

.container_resume {
    position: relative;
    width: 100%;
    max-width: 647px;
    margin: 0 auto;
    top: 40px;
}

.container_info__person {
    display: flex;
}

.block__image {
    height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.block_default__image{
    background: #FFA07A;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}
.block_default__image .block_firstLetters__FIO {
    margin-top: 1.8em;
    display: inline-block;
}

.info_person {
    min-width: 217px;
}

.block_user__photo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container_info__person>.info_person {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.fullName,
.position {
    font-weight: 500;
    height: auto;
    font-family: Helvetica Neue;
    font-style: normal;
    font-size: 30px;
    line-height: 37px;
    color: #3F3F3F;
    margin-bottom: 8px;
    margin-left: 30px;
}

.icon-phone,
.icon-geo-point,
.icon-mail {
    color: #3f3f3f;
    margin-right: 21.2px;
    font-size: 16px;
}

.position {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 27px;
}

.number_phone,.email,.geo_point {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    color: #3F3F3F;
    margin-left: 30px;
    margin-bottom: 15px;
}

.container_section {
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 415px) {
    .container_info__person {
        flex-wrap: wrap;
    }
    .image_person {
        margin: 0 auto;
        width: 160px;
        height: 160px;
        margin-bottom: 24px;
    }
    .fullName,
    .position {
        margin-left: 0px;
        text-align: center;
    }
    .button-title {
        padding: 4px 0 4px 24px;
    }
    .icon-arrow-down:before {
        left: 89%;
    }
    .send {
        text-align: center;
    }
    .item_section__body {
        margin-left: 16px;
    }
    .item_section {
        margin-right: 16px;
    }
    .section_group {
        margin-bottom: 16px;
    }
    .info_person_block {
        margin: 0 auto;
    }
    .number_phone,
    .email,
    .geo_point {
        margin-left: 20%;
        margin-right: 20%;
    }
}