.block_user {
    position: relative;
    height: 135px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
    display: flex;
    font-family: Monospace;
    font-style: normal;
    cursor: pointer;
    margin-top: 20px;
}

.block_user__image {
    background: #FFA07A;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    top: 5%;
    left: 2%;
    position: relative;
}

.block_user__image .block_user__text {
    margin-top: 1.2em;
    display: inline-block;
}

.block_user_info {
    font-size: 15px;
    line-height: 30px;
    color: #6c717b;
    top: 15%;
    left: 10%;
    position: relative;
    height: 40vh;
}

.block_user_info img {
    padding-right: 20px;
    filter: invert(40%);
    -webkit-filter: invert(40%);
    vertical-align: -2px;
}

.block_user__modifications {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    text-align: center;
}

.block_modication__edit {
    height: 50%;
    background: #C0C0C0;
    border-top-right-radius: 10%;
}

.block_modication__delete {
    background-color: #FA8072;
    height: 50%;
    border-bottom-right-radius: 10%;
}

.block_modication__edit img, .block_modication__delete img {
    padding-top: 35%;
    filter: invert(100%);
}

  .uploaded_photo{
    width: 120px;
    height: 120px;
    border-radius:100%;
    left:2%;
    top:5%;
    position: relative;
  } 